*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.hero{
    position: relative;
    width: auto;
    height: auto;
    background-color: black;
}
.hero .logo{
    background: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;

}
.hero .logo span{
    color: red;

}
.hero .logo:hover{
    color: red;
    transition: 0.5s;
}
.hero .logo span:hover{
    color: black;
    transition: 0.5s;
}

nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    background-color: #ffcc00;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
    border: black solid;
    border-radius: 10px 0;
    padding: 5px;
    transition: 0.5s;
}
.detel-col-1{
    margin-left: 8%;
    margin-top: 5%;
}
.detel-col-1 p{
    font-size: 50px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffcc00;
}
.detel-col-1 p span{
    color: #ff010e;

}
.detel-col-1 p:hover{
    font-size: 60px;
    cursor: pointer;
}
.detel-col-2 img{
    height: 90%;
align-items: left;
}
.detel-col-1 a{
    font-size: 30px;
    background: #ffcc00;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    border-radius: 15px 0;
    margin: 30px;
    color: black;
    text-decoration: none;
    padding: 5px;
}
.detel-col-1 a:hover{
    background: black;
    color: #ffcc00;
    transition: 0.5s;
    border: red solid;
}
.header{
    text-align: center;
}
.container span{
    color: red;
    text-decoration: none;
}
#about{
    padding: 20px 0px;
    background: black;
    color: #ffcc00;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h1 span{
    color: #ffcc00;
}
.about-col-2 span{
    color: red;
    text-align: center;
    font-size: 50px;
    right: 100%;
    font-weight: 600;
    text-align: centers;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 80%;
    border-radius: 100%;
    padding-left: 0px;
    height: 70%;
    border: double;
    border-color: red;
}
.about-col-2{
    flex-basis: 50%;
}
.about-col-2 p{
    font-size: 30px;
    font-weight: 300;
    font-family: comic Verdana, Geneva, Tahoma, sans-serif;

}
#skills{
    padding: 50px 0px;
    background: black;
    color: #ffcc00;
    margin-top: -50px;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    background: black;
    color: red;
    margin-top: -60px;
    text-decoration: underline;
    cursor: pointer;

}
.skill-col-1{
    flex-basis: 35%;
}
.skill-col-1 img{
    width: 50%;
    border-radius: 100%;
    padding-left: 0px;
    height: 60%;
    align-content: left;
}
.skill-col-1 p{
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
    margin-left: 40px;
}
.skill-col-2{
    flex-basis: 30%;
}
.skill-col-2 img{
    width: 50%;
    border-radius: 100%;
    padding-left: 0px;
    height: 70%;
    align-content: center;
}
.skill-col-2 p{
    padding: 5px;
    font-size: 25px;
    font-weight: 300;
    align-content: center;
}
.skill-col-3{
    flex-basis: 35%;
}
.skill-col-3 img{
    width: 50%;
    border-radius: 100%;
    padding-left: 0px;
    height: 60%;
    align-content: right;

}
.skill-col-3 p{
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
    align-content: right;
}

.skill-col-1{
    flex-basis: 35%;
}
.skill-col-1 img{
    width: 50%;
    border-radius: 100%;
    padding-left: 0px;
    height: 60%;
    align-content: left;
}
.skill-col-1 p{
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
    margin-left: 40px;
}
.skill-col-2{
    flex-basis: 30%;
}
.skill-col-2 img{
    width: 50%;
    border-radius: 100%;
    padding-left: 0px;
    height: 70%;
    align-content: center;
}
.skill-col-2 p{
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
}
.skill-col-3{
    flex-basis: 35%;
}
.skill-col-3 img{
    width: 40%;
    border-radius: 100%;
    padding-left: 0px;
    height: 60%;
    align-content: right;

}
.skill-col-3 p{
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
    align-content: right;
}
#services{
    padding: 50px 0px;
    background: black;
    color: #ffcc00;
    margin-top: -50px;
}
.services-col-1{
    flex-basis: 35%;
}
.services-col-1 img{
    width: 50%;
    border-radius: 100%;
    padding-left: 0px;
    height: 60%;
    align-content: left;
    margin-top: 40px;
    margin-left: 50px;
}
.services-col-1 p{
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
    margin-left: 40px;
    display: none;
}
.services-col-2{
    flex-basis: 30%;
}
.services-col-2 img{
    width: 100%;
    border-radius: 100%;
    padding-left: 0px;
    height: 70%;
    align-content: center;
}
.services-col-2 img:hover{
    letter-spacing: 10px;
}
.services-col-2 p{
    padding: 5px;
    font-size: 25px;
    font-weight: 300;
    align-content: center;
}
.services-col-3{
    flex-basis: 35%;
}

.services-col-3 p{
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    align-content: right;
}
.services-col-3 a{
    font-size: 30px;
    background: #ffcc00;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    border-radius: 15px 0;
    margin: 30px;
    color: black;
    text-decoration: none;
    padding: 5px;
}
.services-col-3 a:hover{
    background: black;
    color: #ffcc00;
    transition: 0.5s;
    border: red solid;
}
#contact{
    width: 100%;
    background-color: black;
    align-content: center;
    align-items: center;
}
form{
    margin: 35px 35px 0 35px;
}
.text{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ff010e;
    border-radius: 14px;
    outline: none;
    align-items: center;
    margin-left: 30%;
}
.textarea{
    height: 200px;
    padding: 10px;
    margin-top: 20px;
    width: 300px;
    border: #ff010e 1px solid;
    border-radius: 14px;
    outline: none;
    margin-left: 30%;
}
.btn{
    border-radius: 20px;
    color: #000;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffcc00;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30%;
}
.btn:hover{
    background-color: #000;
    border: #ffcc00 solid;
    color: #ff010e;
    transition: 00.5s;
}
@keyframes scroll{
    0%{
        transform: translateX(0);

    }
    100%{
        transform: translateX(calc(-250 * 7));
    }
}
.slider body{
    background-image: url("bac.jpg");
}
.slider{
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    padding: 100px;
    width: auto;
    

}
.slider .slide-track{
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);

}
.slider .slide{
    height: 100px;
    width: 200px;
}
.slider h1{
    color: #ff010e;
    text-decoration: none;
    align-content: center;
    background: none;
    padding: 30px;
    margin-top: -20px;
}
.footer{
    padding: 20px 0;
    background-color: #ffcc00;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #000;
    text-decoration: none;
}
.footer .social img{
    border: 1px solid #ff010e;
    border-radius: 100px;
}
.footer ul{
    margin-top: 0%;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #000;

}
.footer ul li{
    display: inline-block;
    padding: 0 35px  ;

}
.footer ul li a:hover{
    opacity: 50%;
}
.footer .copyright{
   margin-top: 15px;
   text-align: center;
   font-size: 13px;
   color: #131318; 
   cursor: pointer;
}